<!DOCTYPE html>
<html>
<head>
  <title>LoginSample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  Logged in as <%= current_user.email %>
  <%= link_to 'ログアウト', destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to 'ログイン', new_user_session_path, :method => :get %>
<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
